@model YTS.Models.Movies
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card cus-border">
    <div class="card-header text-white border-bottom">
        <div class="row">
            <div class="col-6">
                <h3>Movie ID: @Model.Id</h3>
            </div>
            <div class="col-6">
                <h3>Quality: @Model.Quality.Qual</h3>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <div class="col-3">
                        <h6>Title</h6>
                    </div>
                    <div class="col-9">
                        <label>@Model.Title</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <h6>Genre</h6>
                    </div>
                    <div class="col-9">
                        <label>@Model.Genre</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <h6>Rating</h6>
                    </div>
                    <div class="col-9">
                        <label>@Model.Rating</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <h6>Year</h6>
                    </div>
                    <div class="col-9">
                        <label>@Model.Date</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <h6>Sypnosis</h6>
                    </div>
                    <div class="col-9">
                        <label>@Model.Description</label>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <img src="@Model.ImageUrl" class="img-thumbnail cus-border" />
            </div>
        </div>
    </div>
    <div class="card-footer border-top">
        <div class="row">
            <div class="col-2">
                <a asp-action="AddMovie" asp-route-id="@Model.Id" class="btn btn-outline-success text-white form-control">Update</a>
            </div>
            <div class="col-2">
                <a asp-action="Index" class="btn btn-outline-success text-white form-control">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <style>
        .cus-border {
            border: 4px solid green;
            background-color: inherit;
        }
        h3, h6 {
            color: green;
        }
        label {
            color: white;
        }
    </style>
}