@model YTS.Models.ViewModels.AdminVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var title = "Add New Rating";

    if (Model.Ratings.Id != 0)
    {
        ViewData["Title"] = "Update Rating";
    }
    else
    {
        ViewData["Title"] = "Add New Rating";
    }
}

<div class="container">
    <div class="col-4 m-0 m-auto border rounded bg-light">
        <form method="post" asp-action="AddRating" class="col-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (Model.Ratings.Id != 0)
            {
                <input type="hidden" asp-for="@Model.Ratings.Id" />
                title = "Update Rating";
            }

            <div class="row">
                <h3 class="pt-2">@title</h3>
            </div>

            <hr />

            <div class="row form-group">
                <label asp-for="@Model.Ratings.Rating"></label>
                <input asp-for="@Model.Ratings.Rating" class="form-control" />
                <span asp-validation-for="@Model.Ratings.Rating" class="text-danger"></span>
            </div>

            <div class="row form-group">
                @if (Model.Ratings.Id != 0)
                {
                    <partial name="_EditAndBackBtn" model="@Model.Ratings.Id" />
                }
                else
                {
                    <partial name="_CreateAndBackBtn" />
                }
            </div>

        </form>
    </div>
</div>